{% extends 'base.html' %}
{% block title %}Lista de Funcionários{% endblock %}
{% block main%}
<h3 class="text-info title">Lista de Hora Extra</h3>
<hr>
<a href="{% url 'horas_extras:horas_extras-add' %}" class="btn btn-success">Registrar Hora Extra</a>
<hr>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Motivo</th>
        <th scope="col">Funcionario</th>
        <th scope="col">Hora_Extra</th>
        <th scope="col">Editar</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
    <tbody>
      {% for hora in object_list %}
      <tr>
        <th scope="row">{{hora.id}}</th>
        <td>{{hora}}</td>
        <td>{{hora.funcionario}}</td>
        <td>{{hora.hora_extra}}</td>
        <td><a href="{% url 'horas_extras:horas_extras_edit' hora.pk %}"
        class="btn btn-info">Editar</a></td>
        <td><a href="{% url 'horas_extras:horas_extras_delete' hora.pk %}"
        class="btn btn-danger">Deletar</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}