{% extends 'base.html' %}
{% block title %}Lista de Documentos{% endblock %}
{% block main%}
<h3 class="text-info title">Lista de Documentos</h3>
<hr>
<a href="{% url 'documentos:documentocreate' %}" class="btn btn-success">Novo Documento</a>
<hr>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Descrição</th>
        <th scope="col">Visualizar</th>
        <th scope="col">Editar</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
    <tbody>
      {% for documento in object_list %}
      <tr>
        <th scope="row">{{documento.id}}</th>
        <td>{{documento}}</td>
        <td><a href="{{documento.arquivo.url}}">Visualizar</a></td>
        <td><a href="{% url 'documentos:documentoEditar' documento.pk %}"
        class="btn btn-info">Editar</a></td>
        <td><a href="{% url 'documentos:documentoDelete' documento.pk %}"
        class="btn btn-danger">Deletar</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}