{% extends 'base.html' %}
{% block title %}
Seja Bem Vindo!
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-sm-4">
            <h3 class="title text-info">Olá {{user}}</h3>
        </div>
        <div class="col-sm-4">
            {% if usuario.funcionario.empresa %}
            <h3 class="title text-info">{{usuario.funcionario.empresa}}</h3>
            <a href="{% url 'empresas:editar_empresa' usuario.funcionario.empresa.pk %}">Editar Empresa</a>
            <h3 class="title text-info">Funcionários</h3>
            <a href="{% url 'funcionarios:funcionarios_list' %}">Lista de Funcionários</a>
            <h3 class="title text-info">Departamentos</h3>
            <a href="{% url 'departamento:list_departamento' %}">Lista de Departamentos</a>
            <h3 class="title text-info">Horas Extras</h3>
            <a href="{% url 'horas_extras:horas_extras-lista' %}">Lista de Horas Extras</a>
            {% else %}
            <a href="{% url 'empresas:criar_empresa' %}">Criar Empresa</a>
            {% endif %}
        </div>
        <div class="col-sm-4">
            <h3 class="title text-info">Ação</h3>
            <a href="{% url 'logout' %}" class="btn btn-warning">Sair</a><br><br>
            <a href="{% url 'funcionarios:edit_funcionario' usuario.funcionario.id %}"
               class="btn btn-info">Editar Funcionário</a>
        </div>
    </div>
{% endblock %}